%% -*- mode: erlang -*-

{require_otp_vsn, "R13B04|R14|R15"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
    {mochiweb, "2.3.*", {git, "https://github.com/mochi/mochiweb.git", {tag, "v2.3.0"}}},

    {nitrogen_core, "2.1.*", {git, "https://github.com/nitrogen/nitrogen_core", "HEAD"}},
    {nprocreg,      "0.2.*", {git, "https://github.com/nitrogen/nprocreg", "HEAD"}},
    {simple_bridge, "1.2.*", {git, "https://github.com/nitrogen/simple_bridge", "HEAD"}},
    {sync,          "0.1.*", {git, "https://github.com/rustyio/sync.git", "HEAD"}}
]}.
